<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6166737369-68415r4ekv81t0nc47qoiaks6engp4e1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6166737369-68415r4ekv81t0nc47qoiaks6engp4e1</string>
	<key>API_KEY</key>
	<string>AIzaSyCVu8gk_Sfsy72qlJSVjeTKibHOT2CHNXg</string>
	<key>GCM_SENDER_ID</key>
	<string>6166737369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sannidhya.theatretime</string>
	<key>PROJECT_ID</key>
	<string>theatre-time</string>
	<key>STORAGE_BUCKET</key>
	<string>theatre-time.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6166737369:ios:9d6a3d656d3e3cd52d69c8</string>
</dict>
</plist>